<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AgTwo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <ModSim.Properties.Settings>
            <setting name="setPgm_defaultLat" serializeAs="String">
                <value>53.4360564</value>
            </setting>
            <setting name="setPgm_defaultLon" serializeAs="String">
                <value>-111.160047</value>
            </setting>
            <setting name="setGPS_SimLatitude" serializeAs="String">
                <value>53.4360564</value>
            </setting>
            <setting name="setGPS_SimLongitude" serializeAs="String">
                <value>-111.160047</value>
            </setting>
            <setting name="setComm_commName" serializeAs="String">
                <value/>
            </setting>
            <setting name="etIP_SubnetOne" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="etIP_SubnetTwo" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="etIP_SubnetThree" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="isGGA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isVTG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRMC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isNDA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAVR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isHDT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isKSXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isOGI" serializeAs="String">
                <value>False</value>
            </setting>
        </ModSim.Properties.Settings>
    </userSettings>
</configuration>
